html{
    overflow-x: hidden;
}
/*variables buckup
    --fuenteLogo: 'Share Tech', sans-serif;
    --fuenteLogo: 'Lobster', cursive;
    --fuentePrincipal: 'Manrope', sans-serif;

    --colorPrincipal: #fff159;
    --colorFondo: rgb(235,235,235);
    --colorContraste: #0d1169;
    --colorSecundario: #000;
    --colorEnlaces: #515151;
    --colorEnlacesSecundario: #3483fa;

    --colorPrincipal: #674141;
    --colorFondo: #c9c9c9;
    --colorContraste: #fff;
    --colorSecundario: #000;
    --colorEnlaces: #bda9a9;
    --colorSombra: #151515;

*/
:root{
    --fuenteLogo: 'Share Tech', sans-serif;
    --fuentePrincipal: 'Manrope', sans-serif;

    --colorPrincipal: #674141;
    --colorFondo: #c9c9c9;
    --colorContraste: #fff;
    --colorSecundario: #000;
    --colorEnlaces: #bda9a9;
    --colorSombra: #151515;
}

.body{
    font-family: var(--fuentePrincipal);
}


header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 70px;
    background-color: var(--colorPrincipal);
}

.maxwidth{
    max-width: 1124px;
}

.logo {
    color: var(--colorContraste);
    font-size: 2em;
    margin-right: 10px;
}

.logoTxt{
    color: var(--colorContraste);
    font-family: var(--fuenteLogo);
    font-size: 1.5em;
}
.logoTxt:hover{
    color: var(--colorContraste);
}

.navbar-nav{
    margin: 0 auto;
}

.nav-link{
    font-size: 1.2em;
    color: var(--colorContraste) ;
    margin-right: 8px;
}

.nav-link:hover{
    color: var(--colorContraste);
}

.navbar-toggler{
    background-color: var(--colorContraste);
}

.navbar{
    background-color: var(--colorPrincipal);
}

.btn{
    color: var(--colorContraste);
}
.btn:hover{
    color: var(--colorContraste);
    border: 1px solid var(--colorContraste);
}

main{
    background-color: var(--colorFondo);
    height: calc(100vh - 30px);
    padding-top: 100px;
    width: 100vw;
}

.carousel{
    z-index: 1;
}

.seccionOfertas{
    margin-top: 30px;
}

.seccionOfertas h1{
    margin-right: 20px;
    font-size: 2em;
}

.seccionOfertas__enlace{
    text-decoration: none;
    color: var(--colorPrincipal);
    font-size: 1em;
}
.seccionOfertas__enlace:hover{
    color: var(--colorPrincipal);
}
.card{
    margin-right: 10px;
    box-shadow: 3px 3px 3px 0px var(--colorSombra);
    transition: all .2s;
}

.card a{
    text-decoration: none;
    color: var(--colorSecundario);
    
}

.card:hover{
    z-index: 1;
    outline: 4px solid var(--colorPrincipal);
    background-color: var(--colorEnlaces);
    transform: scale(1.06);
    transition: all .2s;
}

.botonContainer{
    margin-top: 50px;
}

.btn{
    padding: 10px 20px;
    color: var(--colorContraste);
    background-color: var(--colorPrincipal);
}
.btn:hover{
    background-color: var(--colorContraste);
    color: var(--colorPrincipal);
    
}

.footer{
    height: 30px;
    background-color: var(--colorPrincipal);
}

.redes{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes a{
    margin-right: 30px;
    font-size: 1em;
    color: var(--colorContraste);
}



.fotoProductoContainer{
    border-radius: 10px;
    background-color: #fff;
    color: var(--colorPrincipal);
    padding-top: 20px;
    height: 400px;
    background-image: url(../img/cardImg1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.especificacionesProductoContainer{
    border: 2px solid var(--colorPrincipal);
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
    height: 300px;
    color: var(--colorPrincipal);
    overflow: auto;
}

.infoProductoContainer{
    height: 200px;
}
.infoProductoContainer a{
    color: var(--colorPrincipal);
    text-decoration: none;
}

.infoProductoContainer .btn{
    width: 170px;
    margin-top: 20px;
}
.masProductosContainer{
    height: auto;
}

@media (max-width: 992px) {
    main{
        height: auto;
    }
    .botonContainer .btn{
        margin-bottom: 30px;
    }
    .infoProductoContainer{
        margin-top: 30px;
        height: auto;
    }
    .seccionOfertas{
        margin-bottom: 30px;
    }
    .btn-primary{
        margin-bottom: 30px;
    }
}